.header-user-dropdown {
	background-color:white;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: red;
	box-sizing: border-box;
  border-bottom: 2px solid red;
}

.header-user-dropdown .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-user-dropdown .header-limiter h1{
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin:0;
}

.header-user-dropdown .header-limiter h1 span {
	color: #bc40df;
}

/* The header links */

.header-user-dropdown .header-limiter a, .footer a {
	text-decoration: none;
}

.header-user-dropdown .header-limiter nav, .footer nav{
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.header-user-dropdown .header-limiter nav a, .footer nav a{
	font-size: 14px;
	display: inline-block;
	padding: 0px 12px;
	opacity: 0.9;
	position: relative;
	text-decoration:none;
	line-height: 1;
  border-left: 2px solid lightgrey;
}
.footer nav{
  margin: auto;
  border-top: 1px solid grey;
  width: 100%;
  text-align: center;
  background-color: lightgrey;


}
.header-user-dropdown .header-limiter nav a:hover {
	opacity: 1;
}

/* The "new" badge */

.header-user-dropdown .header-limiter nav a span {
	position: absolute;
	top: -12px;
	border-radius: 2px;
	background-color: #2A6A92;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	height: 13px;
	font-size: 11px;
	right: -15px;
	padding: 1px 4px 0;
}

/* The user menu */

.header-user-dropdown .header-limiter .header-user-menu{
	position: relative;
	float:right;
	background-color: lightgrey;
	width:75px;
	height:40px;
	border-radius:2px;
}

.header-user-dropdown .header-limiter .header-user-menu:before{
	content:'';
	width:0;
	height:0;
	top: 18px;
	left: 15px;
	position:absolute;
	border:5px solid transparent;
	border-top-color:#fff;
}

.header-user-dropdown .header-limiter .header-user-menu ul{
	display: none;
	font:bold 13px Arial, Helvetica, sans-serif;
	background-color: lightgrey;
	list-style: none;
	position: absolute;
	text-align: center;
	width: 125px;
	top: 25px;
	right: 0;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}

.header-user-dropdown .header-user-menu:active ul,
.header-user-dropdown .header-user-menu:hover ul,
.header-user-dropdown .header-user-menu.show ul{
	display:block;
}

.header-user-dropdown .header-user-menu ul li{
	padding:5px;
}

.header-user-dropdown .header-user-menu ul li a:hover{
	opacity:0.9;
}

.header-user-dropdown .header-user-menu ul li a.highlight{
	color:#e9ac09;
}

.header-user-dropdown .header-user-menu img{
	border-radius:50%;
	position:absolute;
	top:6px;
	max-width: 28px;
	right:10px;
}


div.post-box{
	position: relative;
margin:auto;
  background-color: #99ffdd;
  width: 53%;
  margin-top: 30px;
  box-shadow: 2px 1px lightgrey;
  border-radius: 30px;
margin-bottom: 100px;

}
div.post-gallery{
  width: 60%;

  background-color: red;
  float: left;
  display: inline-block;
  border-radius: 30px 0px 0px 30px;
}
.post-gallery .post-main-pic{
  margin: 5px 20px;
  width: 50%;
  float: left;
  display: inline-block;
}

.post-gallery-rest{
  float: left;
  display: inline-block;
  background-color: yellow;
  width: 40%;
  border: 2px solid black;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.post-gallery-rest div{
  border: 1px solid blue;
  width: 100%;
}
.post-actions{
width: 100%;
margin-top: 33px;
text-align: center;
}
div.post-info{
	margin-top: 5px;
  width: 500px;
	height: 200px;
  display: inline-block;
  border-radius: 0px 30px 30px 0px;
	border-left: 1px solid lightgrey;
position: absolute;
top: 0px;
}
.stats{
	width: 100%;
	margin: auto;
	text-align: center;
	margin-top: 20px;
}
.stat , .tags{
	display: inline-block;

}
.stat{
	margin-left: 25px;
}
/*


slideshow!!!!


*/





* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 50%;
  position: relative;
	display: inline-block;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 15px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
*/



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}











/*End of Slideshoww!!!*/











div.footer{
  width:inherit;
  background-color: lightgrey;

}
